{% extends "layout.html" %}

{% block title %}Chirpy{% endblock title %}
{% block content %}

<h2 class="m-3 btn btn-dark d-flex align-items-center align-items-center flex-direction-row p-2"> 
    {%if form.instance.pk%} 
    Edit Tweet 
    {% else %} 
    Create Tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">submit</button>
    </form>
    <a class="btn btn-primary" href="{% url 'tweet_list' %}">back</a> 
</h2>

{% endblock content %}
